@{
    ViewData["Title"] = "details";
}
<img src="@Model.sprites.other.dream_world.front_default" class="img-fluid" alt="@Model.name">

<ul>
    @foreach (var ability in Model.abilities)
    {
        <li>@ability.ability.name</li>
    }
</ul>

